/* color principal du site */
/* color items du site */
/* couleur note musique
linear-gradient(to right, #ee484b, #f15f62, #f59a76,#f6916a);*/
/* color shadow for box-menu */
/* couleur degrade h2-menu des cartes */
/*----------------------------------------------
        animation box-shadow Box-Menu
----------------------------------------------*/
@keyframes zoom {
  from {
    font-size: 1.4em;
    opacity: 1;
  }
  to {
    font-size: 1.68em;
    opacity: 0.6;
  }
}
/*----------------------------------------------
        animation bouton prochainement
----------------------------------------------*/
@keyframes rebond {
  0% {
    transform: translatey(-7px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes flash {
  0% {
    opacity: 0%;
  }
  35% {
    opacity: 100%;
  }
  85% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
@-webkit-keyframes flash {
  0% {
    opacity: 0%;
  }
  35% {
    opacity: 100%;
  }
  85% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
/*----------------------------------------------
        Animation Liens Footer
----------------------------------------------*/
@keyframes wiggle {
  0% {
    -webkit-transform: translate(2px, 0);
    transform: translate(2px, 0);
  }
  45% {
    -webkit-transform: translate(-2px, 0) rotate(-2deg);
    transform: translate(-2px, 0) rotate(-2deg);
  }
  55% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  100% {
    -webkit-transform: translate(2px, 0);
    transform: translate(2px, 0);
  }
}
/* BODY */
body {
  width: 800px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/* le responsive du body */
@media all and (max-width: 800px) {
  body {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
/* HEADER */
header {
  width: 100%;
  height: 6em;
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  background-color: #579c87;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.heading {
  color: #fdcb46;
  width: 100%;
  margin: 0;
  text-align: center;
  vertical-align: center;
  font-size: 4em;
}
.heading a {
  cursor: pointer;
  text-decoration: none;
  color: #fdcb46;
}

/* box- menu */
.box {
  display: flex;
  flex-wrap: wrap;
}

.box-menu--one {
  text-decoration: none;
  font-size: 1.4em;
  background-color: #fcdfdb;
  font-family: "Abril Fatface", cursive;
}
.box-menu--two {
  text-decoration: none;
  font-size: 1.4em;
  background-color: #fff5fe;
  font-family: "Baloo 2", cursive;
}
.box-menu--three {
  text-decoration: none;
  font-size: 1.4em;
  background-color: #f9f9f9;
  font-family: "Poppins", sans-serif;
}
.box-menu--four {
  text-decoration: none;
  font-size: 1.4em;
  background-color: #eef8ee;
  font-family: "Oswald", sans-serif;
}
.box-menu--left {
  margin-left: 7.5%;
}
.box-menu--right {
  margin-right: 7.5%;
}

.note-1 {
  height: 2.8em;
}

.box-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 300px;
  margin: 5%;
  -webkit-box-shadow: 0 0 10px 0 #989997;
  box-shadow: 0 0 10px 0 #989997;
}

.box-menu:hover {
  animation: zoom 0.5s forwards;
}

.box-menu__enseigne--1 {
  color: #3d1319;
}
.box-menu__menu--1 {
  color: #3d1319;
}
.box-menu__enseigne--2 {
  background: linear-gradient(to right, #c77412, #a56799, #6e4ccc);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.box-menu__menu--2 {
  color: #c77412;
}
.box-menu__enseigne--3 {
  background: linear-gradient(to right, #0228dd, #0670f3, #229df9);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.box-menu__menu--3 {
  color: #0670f3;
}
.box-menu__enseigne--4 {
  background: linear-gradient(to right, #45993e, #7bc65b, #a2e870, #beff7f);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.box-menu__menu--4 {
  color: #7bc65b;
}

/* le responsive box menu */
@media all and (max-width: 800px) {
  .box-menu {
    margin-left: auto;
    margin-right: auto;
  }
}
@media all and (max-width: 650px) {
  .box-menu {
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 400px;
  }
}
@media all and (max-width: 450px) {
  .box-menu {
    height: 400px;
    max-width: 300px;
  }
}
/* button prochainement */
.btn {
  margin-bottom: 6em;
}

.btn-prochainement {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #579c87;
  color: #fdcb46;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.4em;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 30%;
  height: auto;
  border-radius: 10px;
}

/* le responsive du button */
@media all and (max-width: 630px) {
  .btn-prochainement {
    width: 60%;
  }
}
/*---------------------------------
          ANIMATION BALL
---------------------------------*/
.ball {
  margin-left: 5px;
  align-items: flex-end;
}

.ball__une {
  background-color: #fdcb46;
  width: 0.2em;
  height: 0.2em;
  border-radius: 0.5em;
  display: inline-block;
  animation: flash 4s ease-in infinite;
  -webkit-animation: flash 4s ease-in infinite;
  animation-delay: 2.1s;
  -webkit-animation-delay: 2.1s;
}

.ball__deux {
  background-color: #fdcb46;
  width: 0.2em;
  height: 0.2em;
  border-radius: 0.5em;
  display: inline-block;
  animation: flash 4s ease-in infinite;
  -webkit-animation: flash 4s ease-in infinite;
  animation-delay: 2.3s;
  -webkit-animation-delay: 2.3s;
}

.ball__trois {
  background-color: #fdcb46;
  width: 0.2em;
  height: 0.2em;
  border-radius: 0.5em;
  display: inline-block;
  animation: flash 4s ease-in infinite;
  -webkit-animation: flash 4s ease-in infinite;
  animation-delay: 2.4s;
  -webkit-animation-delay: 2.4s;
}

/* pages cartes-menu*/
.pages {
  text-align: center;
}

.carte {
  display: flex;
  flex-direction: column;
  margin: 5% 8% 20% 8%;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
  padding-top: 2em;
  box-shadow: 0 0 10px 0 #989997;
}
.carte__enseigne {
  align-self: center;
  font-size: 2em;
}
.carte__article {
  flex-direction: column;
  padding-right: 1em;
  padding-left: 1em;
}
.carte__h3 {
  text-align: center;
  margin-right: 1em;
  margin-left: 1em;
}
.carte__one {
  background-color: #fcdfdb;
  font-family: "Abril Fatface", cursive;
}
.carte__two {
  background-color: #fff5fe;
  font-family: "Baloo 2", cursive;
}
.carte__three {
  background-color: #f9f9f9;
  font-family: "Poppins", sans-serif;
}
.carte__four {
  background-color: #eef8ee;
  font-family: "Oswald", sans-serif;
}

.image {
  display: flex;
  justify-content: space-between;
}
.image img {
  width: 150px;
}

/* couleur degrade h2-menu des cartes */
.carte__enseigne--menu2 {
  background: linear-gradient(to right, #c77412, #a56799, #6e4ccc);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.carte__enseigne--menu3 {
  background: linear-gradient(to right, #0228dd, #0670f3, #229df9);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.carte__enseigne--menu4 {
  background: linear-gradient(to right, #45993e, #7bc65b, #a2e870, #beff7f);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/* les notes de musique  */
.note-music {
  display: inline-block;
  text-align: center;
}

.note-2 {
  height: 4em;
}

/* note de musique du bas de page menu carte */
.carte-bottom {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.carte-bottom .note-3 {
  height: 0.8em;
  margin-right: 0.5em;
}
.carte-bottom .h2__bottom {
  text-justify: auto;
  display: inline-block;
  font-size: 1.4em;
  white-space: nowrap;
}

/* div des plats et des prix */
.carte__plats {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.carte__article--1 {
  color: #c77412;
}
.carte__article--2 {
  color: #a56799;
}
.carte__article--3 {
  color: #6e4ccc;
}

/* Responsive pages cartes-menu */
@media all and (max-width: 830px) {
  .image {
    justify-content: center;
  }
  .image img {
    display: none;
  }
}
@media all and (max-width: 750px) {
  .carte__plats {
    flex-direction: column;
  }
  .carte__plats p {
    text-align: center;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }

  .carte__enseigne {
    font-size: 1.5em;
  }
}
/* animation baseline cartes */
.baseline__menu-1 {
  background: linear-gradient(to top, #3d1319 0%, #3d1319 2px, transparent 3px) no-repeat;
  background-size: 0% 100%;
  transition: background-size 650ms;
}
.baseline__menu-1:hover {
  background-size: 100% 100%;
}
.baseline__menu-3 {
  background: linear-gradient(to top, #262626 0%, #262626 2px, transparent 3px) no-repeat;
  background-size: 0% 100%;
  transition: background-size 650ms;
}
.baseline__menu-3:hover {
  background-size: 100% 100%;
}
.baseline__menu-4 {
  background: linear-gradient(to top, #262626 0%, #262626 2px, transparent 3px) no-repeat;
  background-size: 0% 100%;
  transition: background-size 650ms;
}
.baseline__menu-4:hover {
  background-size: 100% 100%;
}

/* baseline du menu 2 */
.baseline__menu-2--colors-1 {
  background: linear-gradient(to top, #c77412 0%, #c77412 2px, transparent 3px) no-repeat;
  background-size: 0% 100%;
  transition: background-size 650ms;
}
.baseline__menu-2--colors-1:hover {
  background-size: 100% 100%;
}

.baseline__menu-2--colors-2 {
  background: linear-gradient(to top, #a56799 0%, #a56799 2px, transparent 3px) no-repeat;
  background-size: 0% 100%;
  transition: background-size 650ms;
}
.baseline__menu-2--colors-2:hover {
  background-size: 100% 100%;
}

.baseline__menu-2--colors-3 {
  background: linear-gradient(to top, #6e4ccc 0%, #6e4ccc 2px, transparent 3px) no-repeat;
  background-size: 0% 100%;
  transition: background-size 650ms;
}
.baseline__menu-2--colors-3:hover {
  background-size: 100% 100%;
}

/* C G U */
.cgu-article {
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 5em;
  display: flex;
  flex-direction: column;
}

.cgu-h2 {
  text-align: center;
}

.cgu-h3 {
  text-align: start;
}

/* FOOTER */
footer {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  bottom: 0;
  background-color: #579c87;
}

.nav {
  width: 100%;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

.nav-ul {
  display: flex;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

/*---------------------------------
    ANIMATION DES LIENS FOOTER
----------------------------------*/
.nav-ul__link {
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.nav-ul__link a {
  text-decoration: none;
  color: #fdcb46;
  font-size: 1.4em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.nav-ul__link a:hover {
  -webkit-animation: wiggle 75ms infinite;
  animation: wiggle 75ms infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.nav-ul__link--left {
  margin-left: 0;
}

.nav-ul__link--mail {
  margin-right: 0;
}

/* le responsive du footer */
@media all and (max-width: 800px) {
  footer {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
