body {
  width: 800px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

header {
  width: 100%;
  height: 6em;
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  background-color: #579c87;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.heading {
  color: #fdcb46;
  width: 100%;
  margin: 0;
  text-align: center;
  vertical-align: center;
  font-size: 4em;
}

.box {
  display: flex;
  flex-wrap: wrap;
}

.box-menu--one {
  text-decoration: none;
  font-size: 1.4em;
  background-color: #fcdfdb;
  color: #3c1218;
  font-family: "Satisfy", cursive;
}

.box-menu--two {
  text-decoration: none;
  font-size: 1.4em;
  background-color: #fff5fe;
  color: #c77412;
  font-family: "Lobster", cursive;
}

.box-menu--three {
  text-decoration: none;
  font-size: 1.4em;
  background-color: #f9f9f9;
  color: #0887fb;
  font-family: "Dancing Script", cursive;
}

.box-menu--four {
  text-decoration: none;
  font-size: 1.4em;
  background-color: #eef8ee;
  color: #72bf56;
  font-family: "Courgette", cursive;
}

footer {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  bottom: 0;
  background-color: #579c87;
}

.nav {
  width: 100%;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

.nav-ul {
  display: flex;
  padding-right: 1.5em;
  padding-left: 1.5em;
}
.nav-ul__link {
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.nav-ul__link a {
  text-decoration: none;
  color: #fdcb46;
  font-size: 1.4em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.nav-ul__link--left {
  margin-left: 0;
}

.nav-ul__link--mail {
  margin-right: 0;
}

.box-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 400px;
  width: 300px;
  margin: 5%;
  /*background-color: $color-menu-1;*/
}
.box-menu__left {
  margin-left: 7.5%;
}
.box-menu__right {
  margin-right: 7.5%;
}

.btn {
  /*margin-top: 1em;*/
  margin-bottom: 6em;
}

.btn-prochainement {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #579c87;
  color: #fdcb46;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.4em;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 30%;
  height: auto;
  border-radius: 10px;
}

.ball {
  display: inline-flex;
  background-color: #fdcb46;
  width: 0.3em;
  height: 0.3em;
  border-radius: 0.5em;
  margin-left: 0.5em;
}
.ball__un {
  animation: slidedown 3000ms infinite 515ms;
}
.ball__deux {
  animation: slidedown 3100ms infinite 475ms;
}
.ball__trois {
  animation: slidedown 3150ms infinite 450ms;
}

.nav-ul__link--left a {
  cursor: pointer;
  transform: scale(1);
  transition: transform 400ms;
  /* combine transition-propriety et transition-duration*/
}
.nav-ul__link--left a:hover {
  transform: scale(1.15);
}

@keyframes slidedown {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.carte {
  display: flex;
  flex-direction: column;
  margin: 5% 10% 20% 10%;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 2rem;
}
.carte__enseigne {
  align-self: center;
}
.carte__article {
  flex-direction: column;
  padding-right: 1em;
  padding-left: 1em;
}
.carte__h3 {
  text-align: center;
}
.carte__one {
  background-color: #fcdfdb;
  color: #3c1218;
  font-family: "Satisfy", cursive;
}
.carte__two {
  background-color: #fff5fe;
  color: #c77412;
  font-family: "Lobster", cursive;
}
.carte__three {
  background-color: #f9f9f9;
  color: #0887fb;
  font-family: "Dancing Script", cursive;
}
.carte__four {
  background-color: #eef8ee;
  color: #72bf56;
  font-family: "Courgette", cursive;
}

.carte__plats {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cgu-article {
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 5em;
  display: flex;
  flex-direction: column;
}

.cgu-h2 {
  text-align: center;
}

.cgu-h3 {
  text-align: start;
}

/*# sourceMappingURL=style.css.map */
