/*---------------------------------
          ANIMATION BALL
---------------------------------*/
@mixin ball-prochainement {
        background-color: $secondary;
        width: 0.2em;
        height: 0.2em;
        border-radius: 0.5em;
        display: inline-block;
        align-self: flex-end;
        margin-bottom: 5px;
        margin-left: 5px;
}


.ball__une {
    @include ball-prochainement; 
    animation: flash 3s linear infinite;
    -webkit-animation: flash 3s linear infinite;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;

  
  }

  .ball__deux {
        @include ball-prochainement;
        animation: flash 3s linear infinite;
        -webkit-animation: flash 3s linear infinite;
        animation-delay: 2.3s;
        -webkit-animation-delay: 2.3s;
        
  }

  .ball__trois {
        @include ball-prochainement;
        animation: flash 3s linear infinite;
        -webkit-animation: flash 3s linear infinite;
        animation-delay: 2.5s;
        -webkit-animation-delay: 2.5s;
  }