/*---------------------------------
          ANIMATION BALL
---------------------------------*/
@mixin ball-prochainement {
    background-color: $secondary;
    width: 0.2em;
    height: 0.2em;
    border-radius: 0.5em;
    display: inline-block;
}

.ball {
    margin-left: 5px;
    align-items: flex-end;
  }

.ball__une {
      @include ball-prochainement; 
      animation: flash 4s ease-in infinite;
      -webkit-animation: flash 4s ease-in infinite;
      animation-delay: 2.1s;
      -webkit-animation-delay: 2.1s;
  }

  .ball__deux {
      @include ball-prochainement;
      animation: flash 4s ease-in infinite;
      -webkit-animation: flash 4s ease-in infinite;
      animation-delay: 2.3s;
      -webkit-animation-delay: 2.3s;
  }

  .ball__trois {
      @include ball-prochainement;
      animation: flash 4s ease-in infinite;
      -webkit-animation: flash 4s ease-in infinite;
      animation-delay: 2.4s;
      -webkit-animation-delay: 2.4s;
  }