$font-size-title: 4em;
$font-size-box-menu: 1.4em;

$fonts-principal: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$fonts-menu-1: 'Satisfy', cursive;
$fonts-menu-2: 'Lobster', cursive;
$fonts-menu-3: 'Dancing Script', cursive;
$fonts-menu-4: 'Courgette', cursive;