$font-size-title: 4em;
$font-size-box-menu: 1.4em;

$margin-box-menu: 7.5%;

$fonts-principal: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$fonts-menu-1: 'Satisfy', cursive;
$fonts-menu-2: 'Baloo 2', cursive;
$fonts-menu-3: 'Poppins', sans-serif;
$fonts-menu-4: 'Oswald', sans-serif; 