@mixin body {
    min-width: 500px;
    max-width: 700px;
    min-height: 45px;
    max-height: 50px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

@mixin header {
    background-color: $color-principal;
    display: flex;
        & h1 {
            color: $color-titre;
            text-align: center;
            min-width: 100%;
        }
}

@mixin menu {
    width: 200px;
    height: 300px;
    margin: 10px 10px 10px 10px;
    border: solid 1px black;
}

@mixin footer {
    color: $color-titre;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
}



