@mixin cartes {
    display: flex;
    flex-direction: column;
    margin: 5% 10% 20% 10%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2rem;
      }

@mixin box-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 300px;
    margin: 5%;
}
@mixin left {
    margin-left: $margin-box-menu;
}

@mixin right {
    margin-right: $margin-box-menu;
}