
$primary: #579c87;
$secondary: #fdcb46;


$color-menu-1: #fcdfdb;
$color-fonts-menu-1: #3c1218;

$color-menu-2: #fff5fe;
$color-fonts-menu-2: #c77412;

$color-menu-3: #f9f9f9;
$color-fonts-menu-3: #0887fb;

$color-menu-4: #eef8ee;
$color-fonts-menu-4: #72bf56;












