$color-principal: #579c87;
$color-titre: #fdcb46;
$color-menu-1: #fcdfdb;
$color-fonts-menu-1: #3c1218;
$color-menu-2: #fff5fe;
$color-fonts-menu-2: #c77412;
$color-menu-3: #f9f9f9;
$color-fonts-menu-3: #0887fb;
$color-menu-4: #fdfffd;
$color-fonts-menu-4: #72bf56;

$police-titre: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

$font-size-html: 100%;
$font-size-title: 4em;
$font-size-txt: 1.6em/1em;
$font-size-btn: 1.5em/1em;