/* color principal du site */
$primary: #579c87;
$secondary: #fdcb46;

/* color items du site */

$color-menu-1: #fcdfdb;
$color-fonts-menu-1: #3d1319;
$color-note-musique: #f15f62;
$color-note-musique-2: #f6916a;
/* couleur note musique
linear-gradient(to right, #ee484b, #f15f62, #f59a76,#f6916a);*/

$color-menu-2: #fff5fe;
$color-fonts-menu-2: #c77412;
$color-fonts-menu-2-2: #a56799;
$color-fonts-menu-2-3: #6e4ccc;
@mixin menu2 {
    background: linear-gradient(to right, $color-fonts-menu-2, $color-fonts-menu-2-2, $color-fonts-menu-2-3);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

$color-menu-3: #f9f9f9;
$color-fonts-menu-3: #262626;
$color-fonts-menu-3-2: #0228dd;
$color-fonts-menu-3-3: #0670f3;
$color-fonts-menu-3-4: #229df9;
@mixin menu3 {
    background: linear-gradient(to right, $color-fonts-menu-3-2, $color-fonts-menu-3-3, $color-fonts-menu-3-4);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

$color-menu-4: #eef8ee;
$color-fonts-menu-4: #262626;
$color-fonts-menu-4-2: #45993e;
$color-fonts-menu-4-3: #7bc65b;
$color-fonts-menu-4-4: #a2e870;
$color-fonts-menu-4-5: #beff7f;

@mixin menu4 {
    background: linear-gradient(to right, $color-fonts-menu-4-2, $color-fonts-menu-4-3, $color-fonts-menu-4-4, $color-fonts-menu-4-5);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
/* color shadow for box-menu */

$color-shadow-box: #989997;
