
.box-menu {
    @include box-menu;
    /*background-color: $color-menu-1;*/
   &__left {
        @include left;
    }
    &__right {
        @include right;
    }
}

.btn {
    
    /*margin-top: 1em;*/
    margin-bottom: 6em;
}
.btn-prochainement {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: $primary;
    color: $secondary;
    font-family: $fonts-principal;
    font-size: 1.4em;

    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 30%;
    height: auto;
    border-radius: 10px;
}
.ball {
    display: inline-flex;
    background-color: $secondary;
    width: 0.3em;
    height: 0.3em;
    border-radius: 1em *0.5;
    margin-left: 0.5em;
}
.nav-ul__link--left a {
    @include btn-hover;
}


