.section-carte {
    @include carte;
    background-color: $color-menu-1;
    color: $color-fonts-menu-1;
    &__enseigne {
        align-self: center;
    }
    &__h3 {
        text-align: center;
    }
    &__plats {
        display: flex;
    flex-direction: row; 
    justify-content: space-between;
    }
}





