footer {
    
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: $color-principal;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
}
.mentions {
    @include btn-footer;
    padding-top: 1rem;
    padding-left: 3rem;
}
.contact {
    @include btn-footer;
    height: 3rem;
    padding-top: 1rem;
    padding-right: 3rem;
    text-align: end;   
}
