.box {
    display: flex;
    flex-wrap: wrap;
}
.box-menu--one { 
    text-decoration: none;
    font-size: $font-size-box-menu;
        @include one;
}
.box-menu--two { 
    text-decoration: none;
    font-size: $font-size-box-menu;
    @include two;
}
.box-menu--three { 
    text-decoration: none;
    font-size: $font-size-box-menu;
    @include three;  
}
.box-menu--four { 
    text-decoration: none;
    font-size: $font-size-box-menu;
    @include four;
}
