/* BODY */

body {
    width: 800px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  /* le responsive du body */

  @media all and (max-width: 800px) {
    body {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }