/* button prochainement */

.btn {
  margin-bottom: 6em;
}

.btn-prochainement {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: $primary;
  color: $secondary;
  font-family: $fonts-principal;
  font-size: $font-size-box-menu;
  
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 30%;
  height: auto;
  border-radius: 10px;

}
/* le responsive du button */

@media all and (max-width: 630px) {
  .btn-prochainement {
    width: 60%;
  }
}
