.carte {
    display: flex;
    flex-direction: column;
    margin: 5% 10% 20% 10%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2rem;;
        
        &__enseigne {
            align-self: center;
        }
        &__article {
            flex-direction: column;
            padding-right: 1em;
            padding-left: 1em;
        }
        &__h3 {
            text-align: center;
        }
        &__one {
            @include one;
        }
        &__two {
            @include two;
        }
        &__three {
            @include three;
        }
        &__four {
            @include four;
        }
}
.carte__plats {
    display: flex;
    width: 100%;
    justify-content: space-between;
}