/* pages cartes-menu*/
.pages {
    text-align: center;
}
.carte {
    display: flex;
    flex-direction: column;
    margin: 5% 8% 20% 8%;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2em;
    padding-top: 2em;
    box-shadow: 0 0 10px 0 $color-shadow-box;

        &__enseigne {
            align-self: center;
            font-size: 2em;
        }
        &__article {
            flex-direction: column;
            padding-right: 1em;
            padding-left: 1em;
        }
        &__h3 {
            text-align: center;
            margin-right: 1em;
            margin-left: 1em;
        }
        &__one {
            @include one;
        }
        &__two {
            @include two;
        }
        &__three {
            @include three;
        }
        &__four {
            @include four;
        }
}
.image {
    display: flex;
    justify-content: space-between;
    & img {
        width: 150px;
    }
}
/* couleur degrade h2-menu des cartes */

.carte__enseigne--menu2 {
    @include menu2;
}
.carte__enseigne--menu3 {
    @include menu3;
}
.carte__enseigne--menu4 {
    @include menu4;
}

/* les notes de musique  */

.note-music {
    display: inline-block;
    text-align: center;
}

.note-2 {
    height: 4em;
  }

/* note de musique du bas de page menu carte */

.carte-bottom {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
        & .note-3 {
            height: 0.8em;
            margin-right: 0.5em;
        }
        & .h2__bottom {
            text-justify: auto;
            display: inline-block;
            font-size: 1.4em;
            white-space: nowrap;
        }
}
/* div des plats et des prix */

.carte__plats {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.carte__article {
    &--1 {
        color: $color-fonts-menu-2;
    }
    &--2 {
        color: $color-fonts-menu-2-2;
    }
    &--3 {
        color: $color-fonts-menu-2-3; 
    }
}

/* Responsive pages cartes-menu */
@media all and (max-width: 830px) {
    .image{
        & img {
            display: none;
        }
        justify-content: center;
    }
  }

@media all and (max-width: 750px) {
    .carte__plats {
        flex-direction: column;
        & p {
            text-align: center;
            margin-top: 0.3em;
            margin-bottom: 0.3em;
        }
    }
    .carte__enseigne {
        font-size: 1.5em;
    }
  }



 