.carte {
    display: flex;
    flex-direction: column;
    margin: 5% 8% 20% 8%;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2em;
    padding-top: 2em;
    box-shadow: 0 0 10px 0 $color-shadow-box;

        &__enseigne {
            align-self: center;
        }
        &__article {
            flex-direction: column;
            padding-right: 1em;
            padding-left: 1em;
        }
        &__h3 {
            text-align: center;
        }
        &__one {
            @include one;
        }
        &__two {
            @include two;
        }
        &__three {
            @include three;
        }
        &__four {
            @include four;
        }
}
.icon {
    display: inline-block;
    text-align: center;
    & .fas {
        font-size: 4em;
        color: $color-note-musique;
    }
}
.carte__plats {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

$duration: 650ms;

.baseline {
    &__menu-1 {
        background: linear-gradient(to top, $color-fonts-menu-1 0%, $color-fonts-menu-1 2px, transparent 3px) no-repeat;
        background-size: 0% 100%;
        transition: background-size $duration;

        &:hover {
            background-size: 100% 100%;
        }
    }

    &__menu-2 {
        background: linear-gradient(to top, $color-fonts-menu-2 0%, $color-fonts-menu-2 2px, transparent 3px) no-repeat;
        background-size: 0% 100%;
        transition: background-size $duration;

        &:hover {
            background-size: 100% 100%;
        }
    }

    &__menu-3 {
        background: linear-gradient(to top, $color-fonts-menu-3 0%, $color-fonts-menu-3 2px, transparent 3px) no-repeat;
        background-size: 0% 100%;
        transition: background-size $duration;

        &:hover {
            background-size: 100% 100%;
        }
    }

    &__menu-4 {
        background: linear-gradient(to top, $color-fonts-menu-4 0%, $color-fonts-menu-4 2px, transparent 3px) no-repeat;
        background-size: 0% 100%;
        transition: background-size $duration;

        &:hover {
            background-size: 100% 100%;
        }
    }
}
@media all and (max-width: 750px) {
    .carte__plats {
        flex-direction: column;
        & p {
            text-align: center;
        }
    }
  }