footer {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    bottom: 0;
    background-color: $primary;
  }
  
  .nav {
    width: 100%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
  
  .nav-ul {
    display: flex;
    padding-right: 1.5em;
    padding-left: 1.5em;
  }
  .nav-ul__link {
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .nav-ul__link a {
    text-decoration: none;
    color: $secondary;
    font-size: 1.4em;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .nav-ul__link--left {
    margin-left: 0;
  }
  
  .nav-ul__link--mail {
    margin-right: 0;
  }

  /* animations footer */
  .nav-ul__link--left a {
    cursor: pointer;
    transform: scale(1);
    transition: transform 400ms;
    /* combine transition-propriety et transition-duration*/
    &:hover {
      transform: scale(1.15);
    }
  }