/*fonts-size*/
html {
    font-size: $font-size-html;
}
.heading {
    font-size: $font-size-title;
}
/*button.scss*/
.btn {
    display: inline-flex;
    align-items: center;
    height: 3em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6.25%;
    margin-bottom: 7rem;
    background-color: $color-principal;
    
    border-radius: 0.8em;
    border: none;
        & .btn__span {
            color: $color-titre;
            margin: 2em 4em 2em 4em;
            font-size: 2em;
        }
}
/*cartes.scss*/

/*cgu.scss*/
.section-carte {
    background-color: $color-menu-1;
    color: $color-fonts-menu-1;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 20%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2rem;
}
.section__cgu-article {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 5em;
    & .section__cgu-h2 {
        text-align: center;
    }
    & .section__cgu-h3 {
        text-align: start;
    }
}
.section-carte__enseigne {
    align-self: center;
}
article div{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}
article h3 {
    text-align: center;
}
/*footer*/

.footer__mentions {
    @include btn-footer;
    padding-top: 1rem;
    padding-left: 3rem;
}
.footer__mail {
    @include btn-footer;
    height: 3rem;
    padding-top: 1rem;
    padding-right: 3rem;
    text-align: end;   
}
/*header*/

/*section.scss*/
.box-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
}
.box__one {
    border: 1px solid black;
    width: 300px;
    height: 400px;
}

.box__two {
    @extend .box__one;
}
.box__three {
    @extend .box__one;
}
.boxe__four {
    @extend .box__one;
}
/*mixin*/
@mixin body {
    min-width: 500px;
    max-width: 700px;
    min-height: 45px;
    max-height: 50px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

@mixin header {
    background-color: $color-principal;
    display: flex;
        & .heading {
            color: $color-titre;
            text-align: center;
            min-width: 100%;
        }
}

@mixin box {
    width: 200px;
    height: 300px;
    margin: 10px 10px 10px 10px;
    border: solid 1px black;
}

@mixin footer {
    color: $color-titre;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
}
@mixin btn-footer {
    color: $color-titre;
    font-size: 1.5em;
    width: 100%;
}

