/* box- menu */
.box {
    display: flex;
    flex-wrap: wrap;
  }
  .box-menu{
      &--one {
        @include box-menu;
        @include one;
      }
      &--two {
        @include box-menu;
        @include two;
      }
      &--three {
        @include box-menu;
        @include three;
      }
      &--four {
        @include box-menu;
        @include four;
      }
      &--left {
        margin-left: 7.5%;
      }
      &--right {
        margin-right: 7.5%;
      }
  }
 .note-1 {
    height: 2.8em;
  }
  .box-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 300px;
    margin: 5%;
    -webkit-box-shadow: 0 0 10px 0 $color-shadow-box;
            box-shadow: 0 0 10px 0 $color-shadow-box;
  }
  .box-menu:hover {
    animation: zoom .5s forwards;
  }
  .box-menu {
    &__enseigne--1 {
      color: $color-fonts-menu-1;
    }
    &__menu--1 {
      color: $color-fonts-menu-1;
    }
    &__enseigne--2 {
      @include menu2;
    }
    &__menu--2 {
      color: $color-fonts-menu-2;
    }
    &__enseigne--3 {
      @include menu3;
    }
    &__menu--3 {
      color: $color-fonts-menu-3-3;
    }
    &__enseigne--4 {
      @include menu4;
    }
    &__menu--4 {
      color: $color-fonts-menu-4-3;
    }
  }
  /* le responsive box menu */

  @media all and (max-width: 800px) {
    .box-menu {
     margin-left: auto;
     margin-right: auto;
      }
 }
 @media all and (max-width: 650px) {
    .box-menu {
      margin-left: auto;
      margin-right: auto;
      height: 500px;
      width: 400px;
      }
  }
  @media all and (max-width: 450px) {
    .box-menu {
      height: 400px;
      max-width: 300px;
      }
  }    