.box {
    display: flex;
    flex-wrap: wrap;
  }
  
  .box-menu{
      &--one {
        @include box-menu;
        @include one;
      }
      &--two {
        @include box-menu;
        @include two;
      }
      &--three {
        @include box-menu;
        @include three;
      }
      &--four {
        @include box-menu;
        @include four;
      }
      &--left {
        margin-left: 7.5%;
      }
      &--right {
        margin-right: 7.5%;
      }
  }
  .box-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 300px;
    margin: 5%;
    -webkit-box-shadow: 0 0 10px 0 #989997;
            box-shadow: 0 0 10px 0 #989997;
  }
  
  .box-menu:hover {
    animation: zoom .5s forwards;
  }

@keyframes zoom {
    from {
        font-size: $font-size-box-menu;
        opacity: 1;
    }
    to {
        font-size: $font-size-box-menu * 1.2;
        opacity: 0.6;
    }
}
   

  
      